/conv_pool_test.py
/ann_test.py
/huge_shf_matrix_in.pickle
/huge_shf_matrix_out.pickle
/pooled_in_56_10birds.pickle
/pooled_out_56_10birds.pickle
/pooled_ti_56_10birds.pickle
/pooled_to_56_10birds.pickle
/trained_log_reg.pickle
